body {
    background-color: #333;
    display: block;
}

.bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.bar li {
    float: left;
}

.bar li * {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-align: center;
}

.bar li *:hover{
    background-color: #111;
}

.mainColumn {
    margin-right: auto;
    margin-left: auto;
    width:70%;
    max-width: 50em;
    min-width: 1em;
}